src/_old_tone
src/_pythontest
*.vcd
*.vvp
*.bak
*.pyc
*.err
*.bck
*.dcm
stereomic/*.lib
*.kicad_pcb
*.pro
*.png
*.sch
*.sch-bak
*.cpp
*.c
*.h
*.user
stereomic/fp-info-cache
stereomic/sym-lib-table
impl/pnr
impl/temp
impl/gwsynthesis
impl/_synthesize
